<div class="row mb-5">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link active" href="{{SITE_URL}}/service">Hizmetler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{SITE_URL}}/company">Şirketler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{SITE_URL}}/driver">Şoförler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{SITE_URL}}/config">Ayarlar</a>
                    </li>
                 
                </ul>
                <a style="color:" class="btn btn-light" href="{{SITE_URL}}/login/exit">Çıkış</a>
            </div>
        </nav>
    </div>
</div>